@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; 
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);    
}

.container {
    position: relative;
    width: 420px;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(35px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container .square {
    position: absolute;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

.container .square:nth-child(1) {
    bottom: 170px;
    right: -80px;
    width: 100px;
    height: 100px;
}

.container .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}

.container .square:nth-child(3) {
    bottom: 160px;
    left: -180px;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.container .square:nth-child(4) {
    top: 100px;
    right: -150px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.container .form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}


.container .form h2 {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.container .form h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
}

.form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

.form input,
.form button {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
    outline: none;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    position: relative;
}

.form input[type="file"]::file-selector-button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #63447b;
    margin-right: 5px;
}

.form .inputBox span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px 20px;
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

.form input:valid ~ span,
.form input:focus ~ span {
    color: #63447b;
    font-size: 0.65em;
    font-weight: 600;
    background-color: #fff;
    border-radius: 35px;
    padding: 1px 10px; 
    letter-spacing: 1px;
    transform: translateX(15px) translateY(-5px);
}

.inputBox.success input {
    border-color: var(--success-color);
}

.inputBox.error input {
    border-color: var(--error-color);    
}

.inputBox small {
    color: var(--error-color);
    position: absolute;
    bottom: -20px;
    left: 20px;
    visibility: hidden;
}

.inputBox.error small {
    visibility: visible;
}

.form button {
    background-color: #fff;
    color: #63447b;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    margin: 30px 0 10px 0;
}


@keyframes animate {
    0%, 100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
}